<%- include("./partials/head") %>

<body>
    <nav>
        <ul>
            <li><a href="/">Hjem</a></li>
        </ul>
    </nav>
    <div class="main"> 
        <h1>Dashbord</h1>
        <div class="main">
            <h1>Velkommen, <%= user.email %>!</h1>
            <div class="main-content">
                <% if (guides.length > 0) { %>
                    <% guides.forEach(guide => { %>
                        <a href="/guide/<%= guide._id %>">
                            <div class="guide-link">
                                <h2>Tittel: <%= guide.tittel %></h2>
                                <h2>Forfatter: <%= guide.author %></h2>
                                <h2>Tags: <%= guide.tag %>
                            </div>
                        </a>
                    <% }); %>
                <% } else { %>
                    <p>Ingen guider funnet.</p>
                <% } %>
            </div>
            <a href="/nyGuide" id="nostyle">
                <button id="new-guide" alt="Lag ny guide">
                    <i>L</i>
                    <i>A</i>
                    <i>G</i>
                    <i>&nbsp;</i>
                    <i>N</i>
                    <i>Y</i>
                    <i>&nbsp;</i>
                    <i>G</i>
                    <i>U</i>
                    <i>I</i>
                    <i>D</i>
                    <i>E</i>
                </button>
            </a>
        </div>
    </div>
</body>