<%- include("./partials/head") %>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div id="edit-guide">
        <h1>Edit Guide</h1>
        <div id="edit-guide-form">
            <form action="/editGuide/<%= guide._id %>" method="POST" enctype="multipart/form-data">
                <h3>Tittel</h3>
                <input type="text" name="tittel" value="<%= guide.tittel %>" required autocomplete="off" class="guide-input">
                <h3>Tag</h3>
                <input type="text" name="tag" value="<%= guide.tag %>" required autocomplete="off" class="guide-input">
                <div id="addNewSection">
                    <% guide.overskrift.forEach((heading, index) => { %>
                        <div name="section">
                            <h2>Seksjon</h2>
                            <div>
                                <h3>Overskrift</h3>
                                <input type="text" name="overskrift[]" value="<%= heading %>" required autocomplete="off" class="guide-input">
                            </div>
                            <div>
                                <h3>Beskrivelse</h3>
                                <textarea name="beskrivelse[]" required autocomplete="off" class="guide-beskrivelse"><%= guide.beskrivelse[index] %></textarea>
                            </div>
                            <div>
                                <h3>Bilde</h3>
                                <input type="file" name="bilde" accept="image/png image/jpg image/jpeg" class="flex" multiple>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="flex">
                    <button type="submit" id="edit-guide-submit" alt="Send Inn">Update Guide</button>
                </div>
                <button onclick="window.history.back();">cancel</button>
            </form>
            </a>
        </div>
    </div>
</body>


