<%- include("./partials/head") %>

<body>    
    <div id="ny-guide-1">
        <h1 id="ny-guide">Edit Guide</h1>
        <div id="ny-guide-form">
            <form action="/editGuide/<%= guide._id %>" method="POST" id="guide-form" enctype="multipart/form-data">
                <h3>Tittel</h3>
                <input type="text" name="tittel" value="<%= guide.tittel %>" required autocomplete="off" class="guide-input">
                <h3>Tag</h3>
                <input type="text" name="tag" value="<%= guide.tag %>" required autocomplete="off" class="guide-input">
                <div id="addNewSection">
                    <% guide.overskrift.forEach((heading, index) => { %>
                        <div name="section">
                            <h2>Seksjon</h2>
                            <div>
                                <h3>Overskrift</h3>
                                <input type="text" name="overskrift[]" value="<%= heading %>" required autocomplete="off" class="guide-input">
                            </div>
                            <div>
                                <h3>Beskrivelse</h3>
                                <textarea name="beskrivelse[]" required autocomplete="off" class="guide-beskrivelse"><%= guide.beskrivelse[index] %></textarea>
                            </div>
                            <div>
                                <h3>Bilde</h3>
                                <input type="file" name="bilde" accept="image/png image/jpg image/jpeg" class="flex" multiple id="uploadFile"/>
                            </div>
                        </div>                          
                    <% }) %>
                </div>
                    <div id="prev-img">
                        <h3>Previously uploaded images</h3>
                        <div class="img-gallery">
                            <% if (guide.bilde && guide.bilde.length > 0) { %>
                                <% guide.bilde.forEach(function(image) { %>
                                <div class="img-wrapper">
                                    <img src="<%= image %>" alt="Guide Image" class="prev-uploaded-image">
                                </div>
                                <% }) %>
                            <% } else { %>
                                <p>Ingen bilder funnet</p>
                            <% } %>
                        </div>
                    </div>
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <div class="flex">
                        <button type="submit" id="new-guide-new" alt="Send Inn">
                            <i>S</i>
                            <i>E</i>
                            <i>N</i>
                            <i>D</i>
                            <i>&nbsp;</i>
                            <i>I</i>
                            <i>N</i>
                            <i>N</i>
                        </button>
                    </div>
                </div>
            </form>
            <div id="edit-button">
                <div class="flex">
                    <button onclick="window.history.back();" id="avbryt" alt="Avbryt">
                        <i>A</i>
                        <i>V</i>
                        <i>B</i>
                        <i>R</i>
                        <i>Y</i>
                        <i>T</i>
                </button>
            </div>
            <div class="flex">
                <button onclick="lagNySeksjon()" id="ny-seksjon" alt="NY SEKSJON" id="border" class="ny-seksjon">
                    <i>N</i>
                    <i>Y</i>
                    <i>&nbsp;</i>
                    <i>S</i>
                    <i>E</i>
                    <i>K</i>
                    <i>S</i>
                    <i>J</i>
                    <i>O</i>
                    <i>N</i>
                </button>
            </div>
            <div class="flex">
                <button id="slett" alt="Slett" onclick="deleteGuide(' <%= guide._id %>')">
                    <i>S</i>
                    <i>L</i>
                    <i>E</i>
                    <i>T</i>
                    <i>T</i>
                </button>
            </div>
        </div>
    </a>
        </div>
    </div>
</body>

<script>

function lagNySeksjon() {
    
    let newSection = document.getElementById("addNewSection");
    newSection.insertAdjacentHTML("beforeend",  
    `
    <div name="section">
                <h2>Seksjon</h2>
                <div>
                    <h3>Overskrift</h3>
                    <input type="text" name="overskrift[]" id="" placeholder="Overskrift" required autocomplete="off" class="guide-input">
                </div>
                <div>
                    <h3>Beskrivelse</h3>
                    <textarea name="beskrivelse[]" id="" placeholder="Beskrivelse" required autocomplete="off" class="guide-beskrivelse"></textarea>
                </div>
                <div>
                    <h3>Bilde</h3>
                    <input type="file" name="bilde" accept="image/png image/jpg image/jpeg" class="flex" multiple id="uploadFile"/>
                </div>

    `)
}

async function deleteGuide(id) {
    const response = await fetch(`/deleteGuide/${id}`, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include'
    });

    if (response.ok) {
        window.location.href =  "/dashboard";
    } else {
        console.error('Failed to delete guide');
    }
}


</script>