<%- include("./partials/head") %>
 <!-- HELP -->
<body>
    <div class="main-guide"> 
        <div class="grid-container">
            <div id="side">
                <div id="side-links">
                    <div id="top">
                        <% if (guides.length > 0) { %>
                            <% guides.forEach(guide => { %>
                                <% if (guide.overskrift && guide.overskrift.length > 0) { %>
                                    <% guide.overskrift.forEach((heading, index) => { %>
                                        <a href="#guide-<%= guide._id %>-<%= index %>"><strong><%= heading %></strong></a><br>
                                        <% }); %>
                                    <% } else { %>
                                        <p>No headings found</p>
                                    <% } %>
                                <% }); %>
                        <% } %>
                    </div>
                </div>                
                <div id="bottom">
                    <a href="/dashboard">Dashbord</a>
                    <a href="/">Hjem</a>
                </div>
            </div>
 
            <div id="guide-content">
                <h1 id="top-guide">Guide</h1>
                <% if (guides.length > 0) { %>
                    <div class="guides-list">
                        <% guides.forEach(guide => { %>
                            <div class="guide-item" id="guide-<%= guide._id %>">
                                <h2 class="guide-h2">
                                    <strong>Forfatter: </strong>
                                    <%= guide.author %>
                                </h2>
                                <h2 class="guide-h2"><%= guide.tittel %></h2>
                                <p class="guide-p">
                                    <strong>Tags: </strong> 
                                    <%= guide.tag %>
                                </p>
                                <% guide.overskrift.forEach((heading, index) => { %>
                                    <h3 class="guide-h3" id="guide-<%= guide._id %>-<%= index %>"><%= heading %></h3>
                                    <p class="guide-p"><%= guide.beskrivelse[index] %></p>
                                    <img src="<%= guide.bilde[index] %>" alt="Guide Image" class="guide-image">
                                <% }); %>
                            </div>
                            <% if (user && guide.author === user.email) { %>
                                <a href="/editGuide/<%= guide._id %>"  id="nostyle">
                                    <button id="ny-seksjon" alt="Rediger">
                                        <i>R</i>
                                        <i>E</i>
                                        <i>D</i>
                                        <i>I</i>
                                        <i>G</i>
                                        <i>E</i>
                                        <i>R</i>
                                    </button>
                                </a>
                            <% } %>
                        <% }); %>
                    </div>                    
                <% } else { %>
                    <p>Ingen guider funnet.</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
 