<%- include("./partials/head") %>

<body>
    <!-- <%- include("./partials/nav") %> -->
    <div class="main-guide"> 
        <div class="grid-container">
            <div id="side">
                <div>
                    <a href="/" id="back">&larr;</a>
                </div>
                <div id="side-links">
                    <div id="top">
                        <% if (guides.length > 0) { %>
                            <a href="#top-guide">Top</a>
                            <% guides.forEach(guide => { %>
                                <!-- Link to each guide using its unique ID as an anchor -->
                                <a href="#guide-<%= guide._id %>" class="guide-item-link"><%= guide.tittel %></a>
                                <% }) %>
                        <% } else { %>
                            <p>Ingen guider funnet</p>
                        <% } %>
                    </div>
                    <div id="bottom">
                        <a href="/">Home</a>
                        <a href="/login">Login</a>
                    </div>
                </div>                
            </div>
      
            <div id="guide-content">
                <h1 id="top-guide">Guides</h1>
                <% if (guides.length > 0) { %>
                    <div class="guides-list">
                        <% guides.forEach(guide => { %>
                            <!-- Add an ID to each guide div so it can be referenced by the link -->
                            <div class="guide-item" id="guide-<%= guide._id %>">
                                <h2 class="guide-h2"><%= guide.author %></h2>
                                <h2 class="guide-h2"><%= guide.tittel %></h2>
                                <p><strong>Tag:</strong> <%= guide.tag %></p>
                                <% guide.overskrift.forEach((heading, index) => { %>
                                    <h3><%= heading %></h3>
                                    <p><%= guide.beskrivelse[index] %></p>
                                <% }); %>
                                <% if (guide.bilde.length > 0) { %>
                                    <h3>Bilder:</h3>
                                    <div class="guide-images">
                                        <% guide.bilde.forEach(image => { %>
                                            <img src="<%= image %>" alt="Guide Image" class="guide-image">
                                        <% }); %>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <p>Ingen guider funnet.</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
