<%- include("./partials/head") %>
<html>
    <body id="body-index">
        <%- include("./partials/nav") %>
        <div class="main">
                <div class="search-div">
                    <form action="/" method="GET" class="flex">  <!-- Form to submit the search query -->
                        <input type="search" name="search" id="search" placeholder="Søk gjennom guider med tag (case sensitive)" autocomplete="off" value="<%= searchQuery %>">
                        <button type="submit" id="search-button">SØK</button>
                    </form>
                </div>
            <div class="main-content">
                <% if (guides.length > 0) { %>
                    <% guides.forEach(guide => { %>
                        <a href="/guide/<%= guide._id %>">
                            <div class="guide-link">
                                <h2>Tittel: <%= guide.tittel %></h2>
                                <h2>Author: <%= guide.author %></h2>
                                <h2>Tags: <%= guide.tag %>
                            </div>
                        </a>
                    <% }); %>
                <% } else { %>
                    <p>Ingen guider funnet.</p>
                <% } %>
            </div>
        </div>
    </body>
</html>
